*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    width: 80%;
    margin: auto;
    padding: 1rem;
}
table{
    border-collapse: collapse;
    
   
}
th{
    color: white;
    background-color: rgb(1, 127, 129);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 1;
}

td{
    padding: 1rem;
    text-align: center;
    color: darkslategrey;
}

.first
{
    background-color: rgba(209, 245, 245, 0.515);
}
.second{
    background-color: white;
}

.comment{
    width: 300px;
}