
$rem: 16px;


body{

    .box{
        width: 200px;
        height: 200px;
        background-color: red;
        border-radius: 10px;
        box-shadow: 0 0 $rem rgba(0, 0, 0, 0.5);
        padding: $rem;
    }
}