*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: gray;
}

.contenedor{
    width: 80%;
    max-width: 500px;
    margin: auto;
    background-color: black;
    justify-content: center;
}

.fila-caja{
    display: flex;
}

.grupo-caja{
    flex: 1;
    background-color: rgb(28, 27, 27);
    border: 1px solid rgb(42, 42, 42);
    padding: 10px 25px;
    margin:7px 25px;
    border-radius: 4px;
}

h1{
    color: white;
    font-weight: 600;
    text-align: center;
}

b{
    color: orange;
}

p{
    color: white;
}

span{
    color: yellow;
}

.grupo-pregunta{
    padding: 0px 30px;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-weight: 100;
}

.caja{
    background-color:rgb(0, 213, 255);
    width: 100%;
    max-width: 370px;
    margin: auto;
    height: 200px;
}

.modelo-caja {
    background-color: #40B4E5;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
}

.caja-borde {
    background-color: #1B365D;
    padding: 20px;
}

.caja-relleno {
    background-color: #3978AA;
    padding: 20px;
}

.caja-contenido {
    background-color: #FF9B5E;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.etiqueta {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}