*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    width: 80%;
    margin: auto;
    padding: 1rem;
}
table{
    border-collapse: collapse; /* border collapse para colapsar los bordes por defecto de las tablas */
    border-radius: 10px;
    overflow: hidden;
}
th{
    color: white;
    background-color: #307980;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 1;
}

td{
    padding: 1rem;
    text-align: center;
    color: darkslategrey;
}

th,td{
    border: 1px solid #ddd;
}

.first
{
    background-color: #dcf0f1;
}
.second{
    background-color: white;
}
.comment{
    width: 300px;
}